<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th><%= sort_link(@query, :title) %></th>
        <th><%= sort_link(@query, :year) %></th>
        <th><%= sort_link(@query, :runtime) %></th>
        <th><%= sort_link(@query, :revenue) %></th>
        <th><%= sort_link(@query, :rating) %></th>
        <th><%= sort_link(@query, :genres) %></th>
      </tr>

      <tr>
        <%= search_form_for @query, html: {"data-controller": "filters", "data-turbo-frame": "table"} do |f| %>

          <td>
            <%= f.search_field :title_cont, "data-action": "filters#submit" %>
          </td>

          <td>
            <%= f.select :year_eq, Movie.pluck(:year).sort.uniq, include_blank: true, "data-action": "filters#submit" %>
          </td>

          <td>
            <%= f.collection_select :genre_ids_cont_all, Genre.all, :id, :name, { include_hidden: false }, {
              multiple: true,
              class: "dropdown-multi-select dropdown hidden",
              placeholder: 'All',
              hidePlaceholder: true,
            }%>
          </td>

          <div>

          </div>

          <td>
            <%= f.submit %>
          </td>
        <% end %>

      </tr>
    </thead>
    <%= turbo_frame_tag "table" do %>

      <tbody>
        <%= render @movies %>
      </tbody>

      <tfoot>
        <tr>
          <%= raw pagy_nav(@pagy) %>
        </tr>
      </tfoot>
    <% end %>
  </table>
</div>


